* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            background-color: #192430;
            font-family: Arial, sans-serif;
        }
        header {
            background-color: #516578;
            padding: 20px;
            text-align: center;
        }
        header img {
            display: block;
            margin: 0 auto;
            max-width: 90px; 
        }
        nav {
            background-color: #192430c7;
            padding: 10px;
            position: sticky;
            top: 0;
            z-index: 1000;
            overflow: hidden;
        }
        nav ul {
            list-style-type: none;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin-right: 19px;
        }
        nav ul li a {
            color: #fff;
            text-decoration: none;
        }
        nav ul li a:hover {
            text-decoration: underline;
        }
        nav img {
            width: 70px;
            float: left;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            float: right;
            margin-right: 10px;
            line-height: 24px;
        }
        nav a:hover {
            text-decoration: underline;
        }
        nav p {
            color: #fff;
            margin-left: 5%;
            display: inline-block;
        }
        .container {
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .data {
            width: calc(33.33% - 40px);
            margin: 20px;
            padding: 20px;
            border: 1px solid #000000;
            background-color: #324150;
            color: #fff;
            text-align: center;
        }
        .data img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            margin-bottom: 10px;
        }
        .data p {
            font-size: 14px;
            line-height: 1.5;
        }
        footer {
            background-color: #192430;
            color: #fff;
            padding: 10px;
            text-align: center;
            clear: both;
        }
        @media only screen and (max-width: 768px) {
            .data {
                width: calc(50% - 40px);
            }
        }
        @media only screen and (max-width: 480px) {
            .data {
                width: calc(100% - 40px);
            }
        }